<!DOCTYPE html>
<html lang="en">

<head> 
   <!-- ======================================== -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Match begin</title>

<link rel="stylesheet" href="/css/styles.css">
<!-- End Links -->
<!-- ======================================== -->
</head>

<body class="modal-open">
   
<!-- Modal -->
<div class="modal modal__begin show" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="text-center modal-content">
      <img src="img/logo_begin.svg" width="186" height="92" alt="" class="block mx-auto mb-14">
      <div class="modal__begin_body">
         <div class="mb-8 text-3xl font-medium">Введите ключ матча</div>
         <form action="#">
            <div class="flex form-group">
               <input type="text" placeholder="Ключ матча" class="w-full mr-4 form-control" />
               <button type="submit" class="btn hover:bg-primary-blue-hover focus:bg-primary-blue-active active:bg-primary-blue-active hover:shadow-hover active:shadow-active focus:shadow-active">Войти</button>
            </div>
         </form>
      </div>
    </div>
  </div>
</div>

<script src="js/jquery-3.6.0.min.js"></script>
<script src="js/util.js"></script>
<script src="js/modal.js"></script>
<script src="js/script.js"></script>

</body>
</html>